In [5]:
sports = ("tenis", "cricket", "football")


print(sports)
print(type(sports))
print(sports[1])
print(len(sports))

('tenis', 'cricket', 'football')
<class 'tuple'>
cricket
3

In [10]:
foods = ("pizza",)

print(foods)
print(type(foods))
print(len(foods))

('pizza',)
<class 'tuple'>
1

In [11]:
my_tuple = ("tennins", 30, True, "cricket","football")

print(my_tuple)
print(type(my_tuple))

print(my_tuple[2:5])

print(my_tuple[:4])

print(my_tuple[2:])

('tennins', 30, True, 'cricket', 'football')
<class 'tuple'>
(True, 'cricket', 'football')
('tennins', 30, True, 'cricket')
(True, 'cricket', 'football')

In [13]:
fruits = ("apple", "banana", "orange")
 
x = list(fruits)

print(x, type(x))

['apple', 'banana', 'orange'] <class 'list'>

In [17]:
x[1] ="Grapse"

print(x)

fruits = tuple(x)
print(fruits, type(fruits))

['apple', 'Grapse', 'orange']
('apple', 'Grapse', 'orange') <class 'tuple'>

In [ ]:
nested_tuple = ((1, 2,3), ("a", "b", "c"), (True, False))
print(nested_tuple)

print(nested_tuple[1][1])  # Accessing 'c' from the second tuple
print(nested_tuple[2][0])

In [ ]:
list_1 = [50, 60, 30, 40, 50, 25, 60, 30, 40]

set_1 = set(list_1)


# removing
print(set_1, type(set_1)) 


list_1 = list(set_1)

list_1.so rt()

print(list_1)
print(type(list_1))

{40, 50, 25, 60, 30} <class 'set'>
[25, 30, 40, 50, 60]
<class 'list'>

In [55]:
# python Range
x = range(1,7,1)

y = range(1, 12, 1)

z = range(3, 24, 4)

print(x, type(x))
print(y)
print(z)

range(1, 7) <class 'range'>
range(1, 12)
range(3, 24, 4)

In [57]:
print(z[2])

11

In [58]:
print(z[5])

23

In [59]:
print(z[6])

IndexError: range object index out of range

In [ ]:
this_dict  = {
    "name" : "Sugar",
    "weight" : "1kg",
    "price": 100.35
}

print(this_dict)
print(type(this_dict))

print(this_dict["weight"])
print(this_dict.get("price"))
print(len(this_dict))

# update the price

this_dict["price"] = 140.50

print(this_dict)

# add a new item as color 

this_dict["color"] = "brown"

print(this_dict)

# new one item or 2 
this_dict.update({"expire_date": "Jan 2025", "price": 120.75})

print(this_dict)

# remove the price
this_dict.pop("price")

print(this_dict)

{'name': 'Sugar', 'weight': '1kg', 'price': 100.35}
<class 'dict'>
1kg
100.35
3
{'name': 'Sugar', 'weight': '1kg', 'price': 140.5}
{'name': 'Sugar', 'weight': '1kg', 'price': 140.5, 'color': 'brown'}
{'name': 'Sugar', 'weight': '1kg', 'price': 120.75, 'color': 'brown', 'expire_date': 'Jan 2025'}
{'name': 'Sugar', 'weight': '1kg', 'color': 'brown', 'expire_date': 'Jan 2025'}

In [79]:
this_dict  = {
    "name" : "Sugar",
    "weight" : "1kg",
    "price": 100.35
}

# this_dict.popitem()  # removes the last inserted item

print(this_dict)

# del this_dict["weight"]  # removes the weight item

# print(this_dict)

# del this_dict  # deletes the entire dictionary
# print(this_dict)

# this_dict.clear()  # clears the dictionary but keeps it

# print(this_dict)

# Copying a dictionary
this_dict_copy = this_dict.copy()
print(this_dict_copy)

# Change the origanl dictionary
this_dict["price"] = 200.00

print(this_dict)

print(this_dict_copy)

{'name': 'Sugar', 'weight': '1kg', 'price': 100.35}
{'name': 'Sugar', 'weight': '1kg', 'price': 100.35}
{'name': 'Sugar', 'weight': '1kg', 'price': 200.0}
{'name': 'Sugar', 'weight': '1kg', 'price': 100.35}

In [85]:
x,y = 7,3

print(x / y)

2.3333333333333335

In [84]:
x,y = 7,3

print(x // y)  # Floor division

2

In [ ]:
x,y = 7,3

print(x % y) #Remainder

1

In [86]:
a, b = 4, 5
print(a == b)

False

In [87]:
a,b = 4, 4
print(a == b)

True

In [88]:
a, b = 4, 5
print(a != b)

True

In [91]:
x,y, z = 10, 5, 20

print(x > 5 or y < 10 and z > 20)
print((x > 5 or y < 10) and z > 20)

True
False

In [92]:
x,y = 5, 6

print(x is y)  # Checks if x and y are the same object

False

In [93]:
x,y = 5, 5

print(x is y)  # Checks if x and y are the same object

True

In [94]:
x = 5

y = x
print(x is y)  # Checks if x and y are the same object

True

In [95]:
nums = [10, 8, 4, 3, 2]

print (8 in nums)

print (5 in nums)

True
False

In [97]:
x , y = 5, 10
z = x & y

print(z)

0

In [102]:
# Flow condition
n = 13
if n % 2 == 0:
    print("n is even")
else:
    print("n is odd")

n is odd

In [105]:
z = [10, 20, 30, 40, 50]
if len(z) == 0:
    print("z is empty")
else:
    print("z is not empty")

z is not empty

In [109]:
list_1 = [1, 5]

if list_1:
    print("list_1 is not empty")
else:
    print("list_1 is empty")

list_1 is not empty

In [111]:
# calculate the are if a circle

# pi = 3.14

r = 0

if r <= 0:
    print("r should bes positive")
else:
    z = 2 * 3.14 * r
    print(z)

r should bes positive

In [112]:
PI_VALUE = 3.14
radius = 7
if radius <= 0:
    print("Radius should be a positive Value.")
else:
    circumference = 2 * PI_VALUE * radius
    print("Cirumference of the circle is:", circumference)

Cirumference of the circle is: 43.96

In [113]:
side_1 = 5
side_2 = 12

if side_1 <= 0 or side_2 <= 0:
    print("Both sides should be positive values.")
else:
    hypotenuse = (side_1 ** 2 + side_2 ** 2) ** 0.5
    print("Hypotenuse of the triangle is:", hypotenuse)

Hypotenuse of the triangle is: 13.0